h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}

.container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
}

.title{
    margin: 4rem;
    color: brown;
    font-size: larger;

}